

.section-hero {
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero-content {
  max-width: 600px;
}

.about-block {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.about-block textarea {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  resize: none;
}

.about-block textarea:focus {
  border: 1px solid #007bff;
}

.word-count {
  font-size: 14px;
  color: #888;
  text-align: right;
}

.btn-group {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.secondary-btn {
  background-color: #043763;
  margin-left: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn.secondary-btn:hover {
  background-color: #c0c5cb;
}

 

.hero-image {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}
 
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 


 
.expertise-reliability-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

}

/* CSS */
.expertise-reliability-container {
  width: 100%;
}

.container-wide {
  display: flex;
  justify-content: space-between;
}

.expertise-reliability-block {
  display: flex;
  flex-basis: 100%;
}
.about-block {
  flex-basis: 50%;  
  height: 300px;  
  margin: 0 2%;  
  padding: 20px;  
}
 
.about-block h2 {
  font-size: 1.5rem; 
}

 
